html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #d1d1c3;
  font-size: 12px;
  font-family: Lato;
  color: #46453a;
  overflow: hidden;
  text-overflow: hidden;
  padding: 5px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  margin: 0 0 3px 0;
  font-size: 1.3em;
}

h2, h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
}

h2 {
  font-size: 0.600rem;
}

h3 {
  font-size: 0.500rem;
  opacity: .8;
  margin-bottom: 3px;
}

.marker-title, .marker-description {
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: .2em;
  line-height: 15px;
  margin: 8px;
}

.marker-title {
  font-size: 0.600rem;
}

.marker-description {
  font-size: 0.300rem;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .25s;
  transition: color .25s;
}

a:hover {
  color: #EB6142;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f9f9eb;
}

section {
  width: 100%;
  display: block;
}

section.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
section.map-container article {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid #46453a;
}

#map {
  background-color: #FCFBF9;
}

#top-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  padding: 0 25px;
  margin-top: 25px;
  z-index: 1001;
}

#top-bar #nav-left,
#top-bar #nav-center,
#top-bar #nav-right {
  position: relative;
  width: 33.3%;
  min-height: 50px;
  display: block;
}

#top-bar #nav-left div {
  float: left;
}

#top-bar #nav-right {
  text-align: right;
}

#edit-map, #more-info {
  width: 75px;
  height: 100%;
}

#nav-center #place-btn, #nav-center #save-btn {
  width: 100%;
}

#place-btn a {
  margin: 0 auto;
}

.btn {
  width: 90px;
  height: 30px;
  padding-top: 4px;
  opacity: 0.9;
  text-align: center;
  background-color: #7095C6;
  color: #f9f9eb;
  border: 3px solid #fff;
  border-radius: 3px;
}

.btn:hover {
  color: #fff;
  opacity: 0.75;
}

a {
  width: 100%;
  height: 100%;
  display: block;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-image: url("icons.png");
  background-size: 200%;
  background-repeat: no-repeat;
  opacity: 0.6;
  border: 3px solid #fff;
  border-radius: 24px;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.edit-icon {
  background-position: -24px 0;
}

#crosshairs {
  pointer-events: none;
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0.5;
  background-image: url("crosshairs.png");
}

.bottom-bar {
  position: absolute;
  bottom: 8px;
  margin: 15px auto;
  text-align: center;
  z-index: 1001;
}

.project-name {
  width: 100%;
  padding-top: 9px;
  border-radius: 2px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.78rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input[type="text"][disabled], fieldset[disabled] input[type="text"],
input[type="password"][disabled], fieldset[disabled]
input[type="password"],
input[type="date"][disabled], fieldset[disabled]
input[type="date"],
input[type="datetime"][disabled], fieldset[disabled]
input[type="datetime"],
input[type="datetime-local"][disabled], fieldset[disabled]
input[type="datetime-local"],
input[type="month"][disabled], fieldset[disabled]
input[type="month"],
input[type="week"][disabled], fieldset[disabled]
input[type="week"],
input[type="email"][disabled], fieldset[disabled]
input[type="email"],
input[type="number"][disabled], fieldset[disabled]
input[type="number"],
input[type="search"][disabled], fieldset[disabled]
input[type="search"],
input[type="tel"][disabled], fieldset[disabled]
input[type="tel"],
input[type="time"][disabled], fieldset[disabled]
input[type="time"],
input[type="url"][disabled], fieldset[disabled]
input[type="url"],
textarea[disabled], fieldset[disabled]
textarea {
  background-color: #dddddd;
}

input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
textarea.radius {
  border-radius: 3px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto;
}

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.775rem;
  border-radius: 0;
  height: 2.3125rem;
}

select.radius {
  border-radius: 3px;
}

select:hover {
  background-color: #f3f3f3;
  border-color: #999999;
}

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
  width: 100%;
}

/* We add basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}

fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

/* Error Handling */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

[data-abide] span.error, [data-abide] small.error {
  display: none;
}

span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

.error input,
.error textarea,
.error select {
  margin-bottom: 0;
}

.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem;
}

.error label,
.error label.error {
  color: #f04124;
}

.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  margin-bottom: 0;
}

label.error {
  color: #f04124;
}

#form-well {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 220px;
  margin-top: -110px;
  margin-left: -120px;
  padding: 10px;
  text-align: left;
  background-color: #f9f9eb;
  border-radius: 5px;
  border: 1px solid #fff;
}

input[type="radio"] {
  margin: 0 0 5px 20px;
}

form img {
  margin: 0 5px;
}

#form-well > form > label:nth-child(8) {
  clear: both;
  margin-top: 25px;
  display: block;
}

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right {
  display: none;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #46453a;
  border-radius: 2px;
}

.wax-legend {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-bar {
  border-radius: 2px;
  border: 2px solid #46453a;
  background-color: rgba(255, 255, 255, 0.7);
}

.leaflet-popup-content-wrapper {
  background-color: #fefefe;
  border-radius: 0px;
  text-align: center;
  max-width: 175px;
}

.leaflet-marker-pane img {
  opacity: 0.7;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

.leaflet-marker-pane img:hover {
  opacity: 0.9;
}

@-webkit-keyframes shake {
  0% {
    margin-left: -10px;
    margin-top: -33px;
  }
  33% {
    margin-left: -13px;
    margin-top: -31px;
  }
  66% {
    margin-left: -10px;
    margin-top: -33px;
  }
  100% {
    margin-left: -13px;
    margin-top: -29px;
  }
}
.leaflet-marker-pane img.leaflet-marker-draggable {
  opacity: 0.4;
}

.leaflet-marker-pane img.leaflet-marker-draggable:hover {
  display: inline-block;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.leaflet-popup-content-wrapper {
  width: 320px;
  text-align: left;
}

@media all and (max-width: 620px) {
  body {
    font-size: 10px;
  }

  h2, #edit-toggle {
    font-size: 0.5rem;
  }

  h3 {
    font-size: 0.4rem;
    margin-bottom: 4px;
  }
}
