// Variables

	// Colors
	$off-white: rgb(249, 249, 235);
	$darker-white: rgb(209, 209, 195);
	$black: rgb(70, 69, 58);
	$white: #fff;
	$trans-white: rgba(255,255,255, 0.7);
	$red: #EB6142;
	$blue: #7095C6;
	$light-blue: #9BCFF5;
	$light-beige: #FCFBF9;


// Animation

@-webkit-keyframes loading-animation {
   from { background-position:    0px; }
     to { background-position: -424px; }
}

@-moz-keyframes loading-animation {
   from { background-position:    0px; }
     to { background-position: -424px; }
}

@-ms-keyframes loading-animation {
   from { background-position:    0px; }
     to { background-position: -424px; }
}

@-o-keyframes loading-animation {
   from { background-position:    0px; }
     to { background-position: -424px; }
}

@keyframes loading-animation {
   from { background-position:    0px; }
     to { background-position: -424px; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Loading Interstitial

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #dbdac6;
	text-align: center;
}

.loading-wrap {
	width: 325px;
	height: 275px;
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;

}

.loading-wrap {
	-webkit-animation: fadein 1.5s; 
       -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s; 
         -o-animation: fadein 1.5s; 
            animation: fadein 1.5s;
}

.loading-animation {
    width: 106px;
    height: 135px;
    margin: 50px auto;
    background-image: url('../images/marker-sprite.png');
    background-repeat: no-repeat;
    
    -webkit-animation: loading-animation .75s steps(4) infinite;
       -moz-animation: loading-animation .75s steps(4) infinite;
        -ms-animation: loading-animation .75s steps(4) infinite;
         -o-animation: loading-animation .75s steps(4) infinite;
            animation: loading-animation .75s steps(4) infinite;
}


// Global styles
html {
	height:100%;
}

body {
	height:100%;
	background-color: $darker-white;
	font-size:14px;
	line-height: 18px;
	font-family: Lato;
	color: $black;
	overflow:hidden;
	text-overflow: hidden;
	//text-align: center;
	padding:5px;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 :focus {
 	outline: none;
 }

// Typography 

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
}

h1 {
	text-transform: uppercase ;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 0 3px 0;
	font-size: 12px;
}

h2, h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

h2 {
	font-size: 0.600rem;
}

h3 {
	font-size: 11px;
	opacity: .8;
	margin-bottom: 3px;
}

.marker-title,.marker-description {
	text-transform: uppercase;
	margin:0px;
	letter-spacing: .2em;
	line-height: 15px;
	margin:8px;
}

.marker-title {
	font-size: 0.600rem;
	
}

.marker-description {
	font-size: 0.300rem;
	
}

a {
	color:inherit;
	text-decoration: none;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

a:hover {
	color: $red;
}

// Structure

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

#main {
	width: 100%;
    height:100%; 
   
    overflow:hidden;
    background-color: $off-white;

}

section {
	width: 100%;
	display: block;
}

section.map-container {
	position:relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	article { 
		width:100%;
		height:100%;
		margin:0 auto;
		padding:2px;
		border:1px solid $black;
	}
	
}

#map {
	background-color: $light-beige;
}


#top-bar {
	width: calc(100% - 20px);
	height:50px;
	position: absolute;
	top:0;
	left:0;
	margin:10px;
	padding: 10px;
	z-index:1001;
	// background-color: rgba(255,255,255,0.3);
	// border-bottom:1px solid rgba(255,255,255,0.5);
}

#top-bar #nav-left,
#top-bar #nav-center,
#top-bar #nav-right {
	position:relative;
	width:33.3%;
	display:block;

}

#top-bar #nav-left,
#top-bar #nav-right {
	padding-top:6px;
}


#top-bar #nav-left div {
	float:left;
}

#top-bar #nav-center div {
		
}

#top-bar #nav-right{
	text-align: right;
}

#edit-map,#more-info {
	width: 75px;
	height: 100%;
}

#nav-center #place-btn, #nav-center #save-btn {
	transition: all .25s ease;
	width:100%;
}

#place-btn a {
	margin:0 auto
}

.btn{
	width: 90px;
	height: 30px;
	padding-top: 4px;
	opacity: 0.9;
	text-align: center;

	background-color:$blue;
	
	color: $off-white;

	border: 3px solid $white;
	border-radius:3px;
}

.btn:hover {
	color:$white;
	opacity: 0.75;
}

a {
	width: 100%;
	height: 100%;
	display: block;
}

.icon {
	width: 24px;
	height: 24px;
	display:block;
	margin:-7px auto 0 auto;

	background-image: url('../images/icons.png');
	background-size:200%;
	background-repeat:no-repeat;
	opacity:0.6;
	//border: 3px solid $white;
	border-radius:24px;

	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.edit-icon {
	background-position:-24px 0;
}

#crosshairs {
	pointer-events:none;
	position: fixed;
	width:100px;
	height:100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	opacity:0.5;
	background-image: url('../images/crosshairs.png');
}

.bottom-bar {
	position: absolute;
	left:0;
	bottom:0;
	width: calc(100% - 20px);
	margin:10px;
	padding: 10px 25px;
	text-align: center;
	z-index:1001;
	// background-color: rgba(255,255,255,0.3);
	// border-top:1px solid rgba(255,255,255,0.5);
}

.project-name {
	width: 100%;
	padding-top: 5px;

	border-radius: 2px;
}

//Foundation Forms

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.78rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], fieldset[disabled] input[type="text"],
  input[type="password"][disabled], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled], fieldset[disabled]
  input[type="url"],
  textarea[disabled], fieldset[disabled]
  textarea {
    background-color: #dddddd; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.775rem;
  border-radius: 0;
  height: 2.3125rem; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

/* Error Handling */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
[data-abide] span.error, [data-abide] small.error {
  display: none; }

span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }

.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem; }
.error label,
.error label.error {
  color: #f04124; }
.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline; }
.error span.error-message {
  display: block; }

input.error,
textarea.error {
  margin-bottom: 0; }

label.error {
  color: #f04124; }

#form-well {
	position: fixed;
	top:50%;
	left:50%;

	width: 240px;
	height: 220px;
	margin-top: -110px;
	margin-left: -120px;
	padding:10px;
	text-align: left;
	background-color: $off-white;
	border-radius: 5px;
	border: 1px solid $white;

}

input[type="radio"] {
	margin: 0 0 5px 20px;
}

form img {
	margin: 0 5px;
	width: 25px;
}

#form-well > form > label:nth-child(8) {
	clear: both;
	margin-top: 25px;
	display: block;
}



// Map specific styles

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right {
	display:none;
}

#map {
	position:relative;
	width:100%;
	height: 100%;

	border: 2px solid $black;
	border-radius: 2px;
}

.wax-legend {
	display: none;
}

.leaflet-control-zoom {
	display:none;
}

.leaflet-bar {
	border-radius:2px;
	border: 2px solid $black;
	background-color: $trans-white;
}

.leaflet-popup-content-wrapper {
	background-color: #fefefe;
	border-radius: 0px;
	text-align: center;
	max-width:175px;
}

.leaflet-marker-pane img {
	opacity:0.7;
	-webkit-transition: opacity .15s ease;
	-moz-transition: opacity .15s ease;
	-ms-transition: opacity .15s ease;
	-o-transition: opacity .15s ease;
	transition: opacity .15s ease;
}

.leaflet-marker-pane img:hover {
	opacity:0.9;
}


.leaflet-popup-content-wrapper {
	width: 320px;
	text-align: left;
}




// Info Overlay

.info {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #dbdac6;
	text-align: left;
	overflow:scroll;

	a {
		display: inline;
		border-bottom: 1px solid $black; 
	}
}

.info-close {
	width: 50px;
	height: 50px;
	position:absolute;
	top: 0;
	right: 0;
}

.info-image {
	display: block;
	width: 50%;
	height: 300px;
	opacity:0.8;
	float: left;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.info-officer {
	background-image: url('../images/officer.jpg');
}

.info-parade {
	float: right;
	background-image: url('../images/parade.jpg')
}

.info-fancy {
	background-image: url('../images/fancy.jpg')
}

.info-copy {
	width: 50%;
	padding: 50px 30px;
	max-width: 500px;
	height: 300px;
	float: left;
	
}

.info-why {
	float: right;
}

@media all and (max-width: 520px) {
	
	.info-image,
	.info-copy {
		float:none !important;
		width: 100%;
	}
	.info-copy {
		padding: 20px 20px;
		height: 150px;
		float: left;
	}

}

 

