// Variables

	// Colors
	$off-white: rgb(249, 249, 235);
	$darker-white: rgb(209, 209, 195);
	$black: rgb(70, 69, 58);
	$white: #fff;
	$trans-white: rgba(255,255,255, 0.7);
	$red: #EB6142;
	$blue: #7095C6;
	$light-blue: #9BCFF5;

// Global styles
html {
	height:100%;
}

body {
	height:100%;
	background-color: $darker-white;
	font-size:12px;
	font-family: Lato;
	color: $black;
	overflow:hidden;
	text-overflow: hidden;
	text-align: center;
	padding:5px;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

// Structure

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.main {
	width: 100%;
    height:100%; 
    
   
    overflow:hidden;
    background-color: $off-white;

}

.fancy-border {
	margin:2px;
	border:2px solid $black;
}


section {
	width: 100%;
	display: block;
}

section.map-container {
	position:relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	article { 
		width:100%;
		height:100%;
		margin:0 auto;
		padding:2px;
		border:1px solid $black;
	}
	
}


.top-bar {
	width:100%;
	position: absolute;
	top:0;
	left:0;
	height:50px;
	padding: 0 25px;

	margin-top:25px;
	
	z-index:1001;
}

.top-bar #nav-left,
.top-bar #nav-center,
.top-bar #nav-right {
	position:relative;
	width:33.3%;
	min-height: 50px;
	display:block;

}

.top-bar #nav-left div {
	float:left;
}
.top-bar #nav-center div {
	
	
}
.top-bar #nav-right div{
	float:right;
}

#edit-map,#more-info {
	width: 75px;
	height: 100%;
}

#nav-center #place-btn {
	width:100%;
}

#place-btn a {
	margin:0 auto
}

.btn{
	width: 90px;
	height: 30px;
	padding-top: 4px;

	background-color:$blue;
	
	color: $off-white;

	border: 3px solid $white;
	border-radius:3px;
}



.btn:hover {
	color:$white;
	opacity: .8;
}

	
	a {
		//padding: 16px 10px 0 10px;
		width: 100%;
		height: 100%;
		display: block;
		
		

	}
	.icon {
		width: 30px;
		height: 30px;
		display:block;
		margin:0 auto;

		background-image: url('icons.png');
		background-size:200%;
		background-repeat:no-repeat;
		opacity:0.6;
		border: 3px solid $white;
		border-radius:24px;

		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
	}
	

	.edit-icon {
		background-position:-24px 0;
	}

.center-bar {
	  position: fixed;
	  width:100px;
	  height:100px;
	  top: 50%;
	  left: 50%;
	  margin-top: -50px;
	  margin-left: -50px;
	  opacity:.5;
}

.bottom-bar {
	position: absolute;
	bottom:8px;
	margin:15px auto;
	
	z-index:1001;
}

.project-name {
	width: 100%;
	padding-top: 9px;

	border-radius: 2px;
	//border: 2px solid $black;
	
}






article:hover .information {
	background-color: $white;
}

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right {
	display:none;
}

#map {
	position:relative;
	width:100%;
	height: 100%;

	border: 2px solid $black;
	border-radius: 2px;
}

.wax-legend {
	display: none;
}

#edit-toggle{
	position:fixed;
	right:23px;
	top:27px;

	width: 200px;
	height: 30px;
	text-align: center;


	border-radius:2px;
	border: 2px solid $black;

	background-color: $trans-white;

		
		font-family: Lato;
		font-size: 0.600rem;
		letter-spacing: 0.2em;
		font-weight: bold;
		text-transform: uppercase;
		
		line-height: .9rem;

		a {
			width: 100%;
			height: 100%;
			display: block;
			padding-top: 5px;
			color: $black;
			font-weight: bold;
		}

		a:hover {
			color: $red;
		}

	

}

// #add {
// 	position:fixed;
// 	width: 28px;
// 	height: 28px;

// 	right:22px;
// 	top:26px;

// 	text-align: center;
// 	text-indent: -11988px;
// 	line-height: 20px;
// 	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	
// 	font-size: 12px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: normal;
	
// 	border: 1px solid rgba(0, 0, 0, 0.4);
// 	background-color:#fff;
	
// 	border-radius:3px;
// 	background-image: url(http://api.tiles.mapbox.com/mapbox.js/v1.6.2/images/icons-000000.png);
// 	background-origin: padding-box;
// 	background-position: 0px 0px;
// 	background-repeat: no-repeat;
// 	background-size: 26px 260px;


// }

// MAP STYLES

 .leaflet-control-zoom {
 	display:none;
 }

#add:hover {
		background-color: rgb(248, 248, 248);
		cursor:pointer;
	}

.leaflet-bar {
	border-radius:2px;
	border: 2px solid $black;
	background-color: $trans-white;
}



.leaflet-popup-content-wrapper {
	background-color: #fefefe;
	border-radius: 0px;
	text-align: center;
	max-width:175px;
}

.leaflet-marker-pane img {
	opacity:0.7;
	-webkit-transition: opacity .15s ease;
	-moz-transition: opacity .15s ease;
	-ms-transition: opacity .15s ease;
	-o-transition: opacity .15s ease;
	transition: opacity .15s ease;
}
.leaflet-marker-pane img:hover {
	opacity:0.9;
}

@-webkit-keyframes shake {
	0% { margin-left: -10px; margin-top: -33px; }
	33% { margin-left: -13px; margin-top: -31px; }
	66% { margin-left: -10px; margin-top: -33px; }
	100% { margin-left: -13px; margin-top: -29px; }
}

.leaflet-marker-pane img.leaflet-marker-draggable {
	opacity:0.4;
}

.leaflet-marker-pane img.leaflet-marker-draggable:hover {
	display: inline-block;
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.leaflet-popup-content-wrapper {
	width: 320px;
	text-align: left;
}

// Typography 

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
}

h1 {
	text-transform: uppercase ;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 0 3px 0;
	font-size: 1.3em;
}



h2, h3 {
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0;
}

h2 {
	font-size: 0.600rem;
}

h3 {
	font-size: 0.500rem;
	opacity: .8;
}

.marker-title,.marker-description {
	text-transform: uppercase;
	margin:0px;
	letter-spacing: .2em;
	line-height: 15px;
	margin:8px;
}

.marker-title {
	font-size: 0.600rem;
	
}

.marker-description {
	font-size: 0.300rem;
	
}

a {
	color:inherit;
	text-decoration: none;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

a:hover {
	color: $red;
}

// LEGEND

// .my-legend .legend-title {
//   text-align: left;
//   margin-bottom: 8px;
//   font-weight: bold;
//   font-size: 90%;
//   }
// .my-legend .legend-scale ul {
//   margin: 0;
//   padding: 0;
//   float: left;
//   list-style: none;
//   }
// .my-legend .legend-scale ul li {
//   display: block;
//   float: left;
//   width: 50px;
//   margin-bottom: 6px;
//   text-align: center;
//   font-size: 80%;
//   list-style: none;
//   }
// .my-legend ul.legend-labels li span {
//   display: block;
//   float: left;
//   height: 15px;
//   width: 50px;
//   }
// .my-legend .legend-source {
//   font-size: 70%;
//   color: #999;
//   clear: both;
//   }
// .my-legend a {
//   color: #777;
//   }




@media all and (max-width: 620px) {

	body {
		font-size: 10px;
	}

	h2, #edit-toggle {
		font-size:0.5rem;
	}
	h3 {
		font-size:0.4rem;
		margin-bottom:4px;
	}

	

}

