// Variables

	// Colors
	$off-white: rgb(249, 249, 235);
	$black: rgb(50, 49, 38);
	$white: #fff;
	$red: #EB6142;


// Global styles
html {
	height:100%;
}

body {
	height:100%;
	background-color: $off-white;
	font-size:12px;
	font-family: Raleway;
	text-overflow: hidden;
	text-align: center;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

// Structure

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.main {
	width: 100%;
	height: 100%;
	margin:10px auto;
}

.fancy-border {
	margin:2px;
	border:2px solid $black;
}

footer {
	height:60px;
	width: 100%;
	
	padding:2px;
	border:1px solid $black;

	aside{
		height:54px;
		letter-spacing: .1em;
		float:left;
		padding: 4px 8px 0 8px;
		border: 2px solid $black;
	}

	aside.left {
		width:25%;
		padding-top:6px;
		border-right:none;
	}

	aside.center{
		float:left;
		width:50%;
		border-right:none;
	}

	aside.right {
		width:25%;
		padding-top:6px;
	}
}

section {
	width: 100%;
	height: 88%;
	margin: 0 auto;

	article { 
		width:100%;
		height:100%;
		margin:0 auto;
		padding:2px;
		border:1px solid $black;
		border-bottom:none;
	
		>img {
			width:100%;
			height:100%;
			border:2px solid $black;
			border-bottom:1px solid $black;
		}

		.information {
			margin-top:-3px;
			border:2px solid $black;
			border-top:none;
			padding: 20px 0;

			-webkit-transition: background-color .25s;
			-moz-transition: background-color .25s;
			-ms-transition: background-color .25s;
			-o-transition: background-color .25s;
			transition: background-color .25s;
		}
	}
	
}

article:hover .information {
	background-color: $white;
}

#map {
	width:100%;
	height: 100%;

	border: 2px solid $black;
	border-radius: 2px;
	border-bottom: none;
}

.wax-legend {
	display: none;
}

.leaflet-popup-content-wrapper {
	background-color: #fefefe;
	border-radius: 0px;
	text-align: center;
	max-width:175px;
}

.leaflet-marker-pane img {
	opacity:0.7;
}

// Typography 

h1 {
	text-transform: uppercase ;
	letter-spacing: .1em;
	margin: 0 0 3px 0;
	font-size: 18px;
}

h1.title {
	margin-bottom:2px;
}

h2, h3 {
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0;
}

h2 {
	font-size: 9px;
}

h3 {
	font-size: 7px;
}
.marker-title,.marker-description {
	text-transform: uppercase;
	margin:0px;
	letter-spacing: .2em;
	line-height: 15px;
	margin:8px;
}

.marker-title {
	font-size: 10px;
	
}

.marker-description {
	font-size: 8px;
	
}

a {
	color:inherit;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

a:hover {
	color: $red;
}

aside.mobile {
	display:none;
}

@media all and (max-width: 820px) {

	section {
		width: 100%;
		height: 75%;
	}

	footer {
		height:125px;

		aside{
			border: 2px solid $black;
		}

		aside.left {
			display: none;
		}

		aside.mobile {
			width:60%;
			padding-top:6px;
			display:block;
			border-right:none;
		}

		aside.center{
			width:100%;
			height: 65px;
			padding-top:10px;
			border: 2px solid $black;
			border-bottom: none;
		}

		aside.right {
			width:40%;
		}

	}


}

